* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
  height: 100%;
  width: calc(50% - 5px);
  position: absolute;
}

.right {
  right: 0;
  background: linear-gradient(
    to bottom,
    rgb(8, 10, 10) 0%,
    #0c0b03 50%,
    rgb(222, 238, 3) 100%
  );
  display: flex;
  flex-direction: column;
}

.full-rank-info-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 4rem 0rem 4rem;
  overflow: auto;
}

.column-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}

.column-cont > input {
  display: flex;
  text-align: center;
  font-weight: bold;
  margin: 5px;
}

.column-cont > h2 {
  margin-top: 2rem;
}

.name-cont {
  width: 8rem;
}

.rank-cont {
  width: 3rem;
}
