* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
  height: 100%;
  width: calc(50% - 5px);
  position: absolute;
}

.left {
  left: 0;
  background: linear-gradient(
    to bottom,
    rgb(8, 10, 10) 0%,
    #0c0b03 50%,
    rgb(3, 211, 238) 100%
  );
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > h1 {
  margin-top: 4%;
}

.white-text {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

.full-spread-info-cont {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 0rem 4rem;
  overflow: auto;
}

.header-cont {
  display: flex;
  justify-content: center;
}

.header-cont > h2 {
  margin: 2rem;
}

.row-cont {
  display: flex;

  padding: 0.3rem 0rem 0.3rem 0rem;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.lastTeam-cont {
  margin-left: 5rem;
}

.name-cont > input {
  width: 8rem;
}

.spread-cont {
  margin-left: 2.5rem;
}

.spread-cont > input {
  width: 2rem;
}

.locked-cont {
  margin-left: 6.5rem;
}

.locked-cont > input {
  width: 2rem;
}

.rank-cont {
  margin-left: 6rem;
}

.rank-cont > input {
  width: 2rem;
}
